.match-pair {
  text-align: center;
  padding: 20px;
}
.match-pair .grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 80px);
  justify-content: center;
}
.match-pair .card {
  border-radius: 8px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #ccc;
}
.match-pair .card.revealed {
  background-color: rgb(249, 243, 243);
}
.match-pair button {
  width: 200px;
  background-color: black;
  color: white;
}

.match-pair button:hover {
  width: 200px;
  background-color: gray;
}
